@use 'normalize';
@use 'mixin' as *;
@use 'variables' as *;

*, ::after, ::before {
  box-sizing: border-box;
}
body{
  @include RobotoSans();
  color: #494F66;
}
h2{
  font-size: 28px;
  line-height: 36px;
  @include LatoSans();
}
button{
  cursor: pointer;
}
figure{
  margin: 0;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style-type: none;
}
ol, ul {
  padding-left: 2rem;
}
a{
  text-decoration: none;
}
.main-container{
  display: flex;
  min-height: 100vh;
}
.home-left{
  background: #ECF0FF url("../assets/background-main-home.svg") no-repeat center top / 100%;
  max-width: calc(536/1360 * 100%);
  padding: 96px calc(64/1634 * 100%) 120px calc(160/1634 * 100%);
  width: 100%;
}
.home-right{
  padding:112px 0 0 calc(226/1360 * 100%);
}
.big-image-left{
  text-align: center;
  img{
    width: 100%;
  }
}
.big-image-left-mobile{
  display: none;
}
.by-calling{
  align-items: center;
  display: flex;
  margin-left: 25px;
  text-decoration: none;
  color: #6464FA;
}
.is-mobile{
  display: none;
}

.group-text-home{
  @include LatoSans();
  &-new{
    @include LatoSans(bold);
    padding-bottom: 4px
  }
  &-info{
    padding-top:16px;
    padding-left: 5px;
    @include RobotoSans();
  }
}


.text-large{
  @include LatoSans();
  font-size: 36px;
  line-height: 48px;
}

.text-red, .text-change{
  color: $red;
}

.row-form{
  display: flex;
  margin-bottom: 16px;
  // align-items: end;
}

.form-get-data{
  max-width: 300px;
}
.cus-form{
  label{
    margin-right: 0;
  }
}
.wid-cus-select{
  max-width: 96px;
  .MuiSvgIcon-root{
    color:$red;
  }
  .MuiInputBase-root{
    border-radius: 4px 0 0 4px;
  }
  + .MuiTextField-root .MuiInputBase-root{
    border-radius: 0 4px 4px 0;
  }
}
.check-label{
  color: #676F8F;
  font-size: 12px;
  a{
    color: #676F8F;
  }
}
.btn{
  @include LatoSans(bold);
  background: $red;
  color: white;
  border:none;
  font-size: 14px;
  border-radius: 8px;
  max-width: 192px;
  padding: 20px;
  text-transform: uppercase;
  width: 100%;
  &.middle{
    padding: 15px 20px;
    max-width: 100%;
  }
  &:disabled {
    background-color: #494F66;
    cursor: not-allowed;
  }
}

.group-btn{
  padding-top: 24px;
}

@media (max-width: 992px){
  .is-mobile{
    display: inline-block;
  }
  .is-desktop{
    display: none;
  }
  .home-left{
    padding-left: 6%;
  }
  .home-right{
    padding-left: 8%;
  }
}

@media (max-width: 615px){
  .any-doubt{
    display: none;
  }
  .text-change{
    color: inherit;
  }
  .main-container{
    flex-direction: column;
  }
  .home-left, .home-right{
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-left{
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
    padding-right: 0;
    position: relative;
  }
  .home-right{
    padding-top: 25px;
  }
  .big-image-left{
    display: none;
  }
  .big-image-left-mobile{
    display: inline-block;
    bottom: -30px;
    position: absolute;
    right: 0;
  }
  .form-get-data{
    max-width: 100%;
  }
  .wid-cus-select + div{
    flex: auto;
  }
  footer{
    margin-top: 0;
  }
  .group-btn{
    .btn{
      max-width: 100%;
    }
  }
  .group-text-home{
    max-width: 70%;
  }
}