@import "../../global-sass/mixin";
.main-container{
  padding:64px 0 0 0;
}
.welcome-left{
  background: #FAFBFF;
  max-width: 30%;//calc(488/1360 * 100%);
  padding: 52px 0 0 calc(120/1360 * 100%);
  width: 100%;
}
.welcome-right{
  padding:112px 32px 120px calc(226/1360 * 100%);
  position: relative;
  width: 100%;
  // width: 45%;
  &-info{
    max-width: 500px;
  }
}
.btn{
  &.middle{
    max-width: 255px;
  }
}
.welcome-image{
  position: absolute;
  left: -32%;
  width: 42%;
  img{
    width: 100%;
  }
}
.welcome-mobile{
  display: none;
}

@media (max-width:615px){
  .welcome-left{
    display: none;
  }
  .welcome-right{
    padding:0 32px 120px;
  }
  .welcome-image{
    margin-left: -32px;
    margin-bottom: 48px;
    position: static;
    width: calc(100% + 64px);
  }
  .welcome-mobile{
    display: block;
  }
  .welcome-desktop{
    display: none;
  }
}