@import "../../global-sass/mixin";
header{
  display: flex;
  justify-content: space-between;
  padding: 24px calc(120/1360 * 100%);
  position: absolute;
  top:0;
  width: 100%;
}
.info-doubts{
  display: flex;
  align-items: center;
}
.any-doubt{
  @include RobotoSans();
  font-size: 12px;
}

@media (max-width: 1023px){
  header{
    padding-left: 32px;
    padding-right: 32px;
  }
}